version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking-system
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    command: npm run start:dev

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
